services:

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./frontend:/var/www
      - ./scripts/nginx.conf:/etc/nginx/nginx.conf  
    ports:
      - "8000:8000"
      - "8080:8080"
    depends_on:
      - axis
    networks:
        - net

  postgres:
    image: postgres:17-alpine
    container_name: postgres_new
    env_file:
      - .env.postgres
    volumes:
      - data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./scripts/loki.yaml:/etc/loki/local-.yaml
    tmpfs:
      - /tmp/loki  
    command: -config.file=/etc/loki/local-.yaml
    networks:
      - net

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - logs:/var/lib/logs:ro
      - ./scripts/promtail.yaml:/etc/promtail/.yaml
    command: -config.file=/etc/promtail/.yaml
    depends_on:
      - loki
    networks:
      - net

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    ports:
      - "3200:3200"
      - "4318:4318"
    volumes:
      - tracer-data:/var/tempo
      - ./scripts/tempo.yaml:/etc/tempo.yaml
    command: -config.file=/etc/tempo.yaml
    networks:
      - net 

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=local
      - GF_SECURITY_ADMIN_PASSWORD=local
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - net
    depends_on:
      - tempo

  axis:
    build: 
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - logs:/var/lib/logs
    networks:
      - net
    depends_on:
      postgres:
        condition: service_healthy
      
volumes:
  logs:
  data:
  tracer-data:
  grafana-data:

networks:
  net:
